@model Buyer

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    <div class = "Form">
        @Html.LabelFor(m => m.FirstName, "Enter your name:")<br/>
        @Html.TextBoxFor(m => m.FirstName)<br/>
        @Html.LabelFor(m => m.LastName, "Enter your surname:")<br/>
        @Html.TextBoxFor(m => m.LastName)<br/>
    </div>
}
