@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="authentication-buttons-wrapper">
        <div class="authentication-buttons">
            <a href="/login" class="button login-button">
                login
                <img class="wheat-icon" src="icons/wheat.svg" />
            </a>
            <a href="/buyer/register" class="button register-button">register</a>
        </div>
    </div>
    <footer>
        <h2>Not a buyer?</h2>
        <a href="/seller/register" class="button register-button">Sign up as a seller</a>
    </footer>
</div>