
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="empty_cart">
        <h1 class="empty-cart-title">You haven't ordered anything yet :c</h1>
        <img class="sad_person" src="/images/empty_cart/sad_person.svg" />
        <img class="cloud" src="/images/empty_cart/cloud.svg" />
    </div>

</div>
