@model List<Product>

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<div class="products-wrapper">
    <h2 data-aos="zoom-in-down">Products</h2>

    <div class="products-container">
        
            <div class="list-of-products" data-aos="fade-up">
                @foreach (var product in Model)
                {
                <div class="list-element-product" data-aos="fade-up">
                    <div class="product-info">
                        <h1 class="product-title">@product.Name</h1>
                        <p class="product-description">@product.Description</p>
                        <p class="product-price">@product.Price $</p>
                    </div>
                    <div class="product-button">
                        <a asp-action="View" asp-controller="Product" asp-route-id="@product.Id">View</a>
                    </div>
                </div>
                }
            </div>
    </div>
</div>