@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables binding */
:root {
    --main-color: #07c26a;
    --secondary-aqua: #12c5cf;
    --secondary-blue: #067cba;
}


/* Common */
.container {
    width: 1040px;
    max-width: 1040px;
    min-width: 1040px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Home page */
.authentication-buttons-wrapper {
    margin-top: 2rem;
    width: 100%;
    text-align: right;
}

.button {
    border: none;
    padding: .5rem 2rem;
}

.button:hover {
    text-decoration: none;
}

.login-button {
    margin-right: 1rem;
    color: white!important;
    background-color: var(--main-color);
    border-radius: 30px;
}

.wheat-icon {
    width: 30px;
    height: 30px;
}

.register-button {
    color: var(--main-color) !important;
    background-color: transparent;
    cursor: pointer;
}